_ReSharper*/
[Bb]in/
[Oo]bj/
App_Data
TestResults
*.sln.ide/
*.user
*.patch
*.sln.cache
*.orig
*.suo
*.log
*.exe
*.dll
*.resources
*.snk
*.tmp
packages
.vs/
project.lock.json

xcuserdata/
*DS_Store
Pods/

.vscode/
launchSettings.json
